a {
  display: block;
  width: 200px;
  height: 250px;
  text-align: center;
  line-height: 200px;
  color: #fff;
  text-decoration: none;
  background: url("../../09/yegi.jpeg") center;
  background-size: 100%;
  /* font-wegiht : 400 */
}

a:hover {
  color: red;
  font-weight: 700;
  background-size: 110%;
}
