a {
  display: block;
  width: 200px;
  height: 250px;
  text-align: center;
  line-height: 200px;
  color: #fff;
  text-decoration: none;
  background: url("../../09/yegi.jpeg") center;
  background-size: 100%;
  /* font-wegiht : 400 */
}

a:hover {
  color: red;
  font-weight: 700;
  background-size: 110%;
}

a:focus {
  color: red;
  font-weight: 700;
  background-size: 110%;
  outline: none;
}
a:active {
  /* 클릭하고 있는 동안(클릭 후 마우스를 떼기 전까지) */
  outline: 2px solid black;
}

p:nth-child(even) {
  /* 주의 사항 : 순서를 지정하는데 p태그 중에 첫번째가 아니라 .inner태그의 첫번째 자식이 p이면 적용이 된다. */
  /* odd : 홀수, even : 짝수 */
  color: red;
  background-color: rgba(0, 0, 0, 0.2);
}
p:first-child {
  /* 첫번째 자식 요소. */
  background-color: black;
}
p:last-child {
  /* 마지막 자식 요소. */
  background-color: azure;
}

.inner input[type="checkbox"]:checked + label {
  color: red;
  font-weight: 700;
}

/* 가상 요소 : 가상의 요소를 만든다. */
.inner {
  text-align: center;
}
.inner::after {
  /* ::after : 요소의 마지막에 가상의 요소를 하나 만들어낸다. */
  /* 말그대로 요소이기 때문에 css속성을 적용 가능하다. */
  /* content 속성을 넣지않으면 가상 요소가 생기지 않는다. */
  display: block;
  /* content: "after입니다."; */
  color: red;
  font-weight: 700;
}
.inner .checkboxWrapper input[type="checkbox"] {
  display: block;
}

.inner .checkboxWrapper input[type="checkbox"]::before {
  /* color: red; */
  content: "사과";
}
