.parent {
  background-color: #888;
}

.parent h1 {
  margin-bottom: 10px;
}

.parent .son p {
  color: red;
}

.silbling p ~ input {
  width: 500px;
}

.silbling input[type="password"] {
  width: 200px;
}

.question h2 + p {
  color: red;
}

.question h3 ~ p {
  color: red;
}

.question a.hover {
  color: red;
}
