body {
  height: 1500px;
}
.imgBackground {
  padding: 20px;
  height: 300px;
  color: #fff;
  background-image: url("../images/background.png");
  background-color: rgba(0, 0, 255, 0.2);
  border: 50px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  /* 이미지가 잘리지 않는선에서 가장 크게. (가로 세로 길이 중 짧은 길이에 맞춘다) */
  background-repeat: no-repeat;
  /*background-position: 10px;  수치를 하나만 입력하면 수평 위치로 간주하고 수직 위치는 center로 간주한다 */
  /* background-attachment: fixed; */
  /* background-clip: border-box; */
  /* background-clip은 색상 */
  background-origin: content-box;

  /* background-orgin은 배경 이미지 */
}
