a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header .leftContent a:nth-child(2) {
  margin-left: 10px;
}

header .rightContent {
  display: flex;
  align-items: center;
}

header .rightContent a + a {
  margin-left: 20px;
}

header .rightContent a.bg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  padding: 4px;
}

header .rightContent a.bg:hover {
  background-color: #e8e8e8;
}

header .rightContent a:nth-child(4) {
  margin-left: 4px !important;
}
header .rightContent a svg {
  fill: #777;
}

header .rightContent a img {
  border-radius: 50%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

main .logo {
  text-align: center;
}
main .logo img {
  width: 270px;
}

main div .inputBox {
  display: flex;
  align-items: center;
  width: 600px;
  padding: 10px 20px;
  border: 1px solid #dfe1e5;
  border-radius: 30px;
  margin-top: 30px;
}

main div .inputBox input {
  flex: 1;
  border: none;
  outline: none;
  margin: 0 10px;
}

main div .inputBox .imgBox {
  margin-right: 10px;
}

main div p {
  text-align: center;
  margin-top: 30px;
}

main div p a {
  color: #0000c6;
}

footer {
  background-color: #f2f2f2;
  color: #70757a;
}

footer > div {
  padding: 15px 30px;
}

footer .footerBottom {
  border-top: 1px solid #dadce0;
  display: flex;
  justify-content: space-between;
}

footer .footerBottom a + a {
  margin-left: 10px;
}
