a {
  text-decoration: none;
  color: inherit;
}

header #gnb .gnbList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

header #gnb .gnbList .depth01 > a {
  display: block;
  padding: 20px;
}

header #gnb .gnbList .depth01:hover .depth02 {
  /* opacity: 1; */
}
header #gnb .gnbList .depth02 {
  /* opacity: 0; */
  display: none;
  /* transition: 0.4s; */
}
header #gnb .gnbList .depth02.hidden {
  display: none;
}
header #gnb .gnbList .depth02 {
  border: 1px solid #e8e8e8;
}

header #gnb .gnbList .depth02 li a {
  display: block;
  padding: 10px 15px;
}
header #gnb .gnbList .depth02 li + li {
  border-top: 1px solid #e8e8e8;
}
