.clearFix::after {
  display: block;
  content: "";
  visibility: hidden;
  clear: both;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 10px 0;
  background-color: #888;
}

ul {
  width: 500px;
  margin: 0 auto;
}

ul li {
  float: left;
  width: 70px;
  padding: 10px 0;
  text-align: center;
  font-weight: 700;
  box-sizing: border-box;
  background-color: rgba(199, 199, 199, 0.986);
  border: 1px solid rgba(92, 92, 92, 0.801);
  border-radius: 10px;
  margin: 0 10px;
}
