.container {
  background-color: aqua;
}
.clearFix {
  clear: both;
}
.item {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
  /* 
    단점
    1) 바로 뒤에 오는 요소(block)요소가 밑에 깔린다.
    2) 부모 요소가 자식 요소의 높이를 인식을 못한다.

    해결법
    1) 뒤에 오는 요소(float을 허용하고 싶지않은) clear 속성 사용.
  */
}
.box01 {
  width: 50px;
  height: 50px;
  background-color: black;
}
.box02 {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  clear: left;
}
